@{
    ViewBag.Title = "ListCams";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    div.scroll
    {
        overflow-y: hidden;
        overflow-x: hidden;
    }
</style>

<body>
    <img alt="" src="http://192.168.1.126:81/videostream.cgi?user=admin&amp;pwd=pucit">

</body>
